<div class="jumbotron">
  <h1>gCamp</h1>
  <br></br>
  <p>Your life, organized.</p>
</div>

<div class="row">
  <div class="col-md-4"><%= image_tag "tasks.jpg", class: "img-responsive" %></div>
  <div class="col-md-4"><%= image_tag "documents.jpg", class: "img-responsive" %></div>
  <div class="col-md-4"><%= image_tag "comments.jpg", class: "img-responsive" %><br /></br></div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary panel-height">
      <div class="panel-heading">
        <h3 class="panel-title"><font color = black>Tasks</font></h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists. Just the way you like 'em
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-height">
      <div class="panel-heading">
        <h3 class="panel-title"><font color = black>Documents</font></h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-height">
      <div class="panel-heading">
        <h3 class="panel-title"><font color = black>Comments</font></h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notification</li>
        </ul>
      </div>
    </div>
  </div>

  <div class = "container">
    <% @quotes.each do |sub_quote| %>
      <% sub_quote.each do |x| %>
        <ul class="list-unstyled">
          <%= x %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
