<body>
  <h1>Terms</h1>
    <p>
    <h4>
      <br>gCamp is not responsible for anything, unles it is positive.</br>
      <br>You may not take us to court, for anything ever.</br>
    </h4>
    </p>
</body>
